<div class="login">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-8 col-lg-5">
        <div class="card">
          <div class="card-body pb-4">
            <div class="login-inner">

              <div class="heading">
                <img src="/assets/img/77a743f50a10c0461fbfa77e47d6647d.png">
                <h4>Log in</h4>
                <p>Not a member yet? <a href="#">Sign up</a></p>
              </div>

              <div class="forms pt-4">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" placeholder="Email">
                </div>

                <div class="mb-3">
                  <label class="form-label">Password</label> <a href="#">Forgot password</a>
                  <input type="Password" class="form-control" placeholder="Password">
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label">Keep me signed in</label>
                </div>
              </div>

              <div class="login-btn text-center mt-4">
                <a class="press-btn d-block">Log in</a>
              </div>

              <div class="extra-option">
                <p>or</p>
              </div>

              <div class="card p-3 mt-4">
                <div class="google-btn">
                  <img src="/assets/img/google-btn.png">
                  <a>Log in with Google</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
