<div class="register">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-8 col-lg-5">
        <div class="card">
          <div class="card-body pb-4">
            <div class="register-inner">

              <div class="heading">
                <img src="/assets/img/77a743f50a10c0461fbfa77e47d6647d.png">
                <h4>Register</h4>
              </div>

              <div class="forms pt-4">
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control" placeholder="Name">
                </div>

                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" placeholder="Email">
                </div>

                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="Password" class="form-control" placeholder="Password">
                </div>
              </div>

              <div class="login-btn text-center mt-4">
                <a class="press-btn d-block">Continue</a>
              </div>

              <div class="texts">
                <p>When you "Continue", you agree to Meetup's <a href="#">Terms of Service.</a> We will manage information about you as described in our <a href="#">Privacy Policy,</a> and <a href="#">Cookie Policy.</a></p>
              </div>

              <div class="seprator"></div>

              <p class="pt-3">Already a member? <a href="#">Log in</a>.</p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
