<div class="about-us">
    <div class="carousel-img" style="background-image: url(https://www.wallpaperbetter.com/wallpaper/125/587/768/blue-shapes-abstract-1080P-wallpaper.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Meetup creates possibilities</h1>
            <p>Meetup is a platform for finding and building local communities. People use Meetup to meet new people, learn new things, find support, get out of their comfort zones, and pursue their passions, together.</p>
            <button type="button" class="btn btn-primary">Join Meetup</button>
          </div>
        </div>
      </div>
    </div>
    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="heading">What you can do</h1>
          </div>
          <div class="col-12 col-md-4 col-lg-4 mt-4 s-card">
            <i class="fas fa-search-location"></i>
            <h2>Explore your city</h2>
            <p>Visit a museum, try new food, go hiking, new food, hit up a brewery tour, or just go meet new people.</p>
          </div>
          <div class="col-12 col-md-4 col-lg-4 mt-4 s-card">
            <i class="fas fa-briefcase"></i>
            <h2>Build your career</h2>
            <p>Test a prototype, network, take a class, learn a language, pitch to investors, or learn a new skill.</p>
          </div>
          <div class="col-12 col-md-4 col-lg-4 mt-4 s-card">
            <i class="far fa-images"></i>
            <h2>Get creative</h2>
            <p>Create a podcast, write a screenplay, discuss art, design something, or get feedback on your work.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="groups">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="heading">What to do more of what you love?</h1>
          </div>
          <div class="col-12 col-md-6 col-lg-6 mt-4 g-card">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-search"></i>
              </div>
              <div class="col-10">
                <h2>Discover groups</h2>
                <p>See who’s hosting local events for all the things you love.</p>
                <a>Join Meetup</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 mt-4 g-card">
            <div class="row">
              <div class="col-2">
                <i class="fas fa-plus"></i>
              </div>
              <div class="col-10">
                <h2>Start a group</h2>
                <p>Create your own Meetup group, and draw from a community of millions.</p>
                <a>Start a Group</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="follow">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="heading">Follow Meetup</h1>
          </div>
          <div class="col-12 col-md-3 col-lg-3 mt-4 f-card">
            <a href="https://facebook.com/">
              <i class="fab fa-facebook-f"></i>
              <p>Facebook</p>
            </a>
          </div>
          <div class="col-12 col-md-3 col-lg-3 mt-4 f-card">
            <a href="https://www.youtube.com/">
              <i class="fab fa-youtube"></i>
              <p>Youtube</p>
            </a>
          </div>
          <div class="col-12 col-md-3 col-lg-3 mt-4 f-card">
            <a href="https://www.instagram.com/">
              <i class="fab fa-instagram"></i>
              <p>Instagram</p>
            </a>
          </div>
          <div class="col-12 col-md-3 col-lg-3 mt-4 f-card">
            <a href="https://twitter.com/">
              <i class="fab fa-twitter"></i>
              <p>Twitter</p>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>