@import "./colours";

body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: 'Inter', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}
