<div class="event-card">
    <div class="c-img">
      <img src="assets/img/bg-cover.jpg">
      <div class="camera">
        <i class="fas fa-video"></i> 
        <p>Online Event</p>
      </div>
    </div>
    <div class="content">
      <p class="date">Tue, Oct 5 @ 7:00 PM PKT</p>
      <h6 class="e-title">Understanding Inclusive Design</h6>
      <p class="sub-text">Mento Design Academy Group</p>
    </div>
    <div class="presents">
      <div class="views ">
        <div class="images">
          <ul>
            <li><img src="assets/img/bg-cover.jpg"></li>
            <li><img src="assets/img/bg-cover.jpg"></li>
            <li><img src="assets/img/bg-cover.jpg"></li>
          </ul>
        </div>
        <div class="status">
          <p>143</p>
        </div>
      </div>
      <div class="upload-icon">
        <i class="fas fa-upload"></i>
      </div>
    </div>
</div>