<div class="reset-password">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-8 col-lg-5">
        <div class="card">
          <div class="card-body pb-4">
            <div class="forget-inner">

              <div class="heading">
                <img src="/assets/img/77a743f50a10c0461fbfa77e47d6647d.png">
                <h4>Reset Password</h4>
                <p>We'll email you instructions on how to change your password.</p>
              </div>

              <div class="forms pt-4">
                <div class="mb-3">
                  <label class="form-label">New Password</label>
                  <input type="password" class="form-control" placeholder="New Password">
                </div>

                <div class="mb-3">
                  <label class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" placeholder="Confirm Password">
                </div>
              </div>

              <div class="login-btn text-center mt-5">
                <a class="press-btn w-100">Update Password</a>
                <a class="press-btn w-100">Cancel</a>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
