<div id="group-stepper" class="bs-stepper">
  <div class="bs-stepper-header">
    <div class="step" data-target="#group-location">
      <button class="step-trigger">
        <span class="bs-stepper-circle">1</span>
        <span class="bs-stepper-label">Group Location</span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#group-interests">
      <button class="step-trigger">
        <span class="bs-stepper-circle">2</span>
        <span class="bs-stepper-label">Group Interests</span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#group-name">
      <button class="step-trigger">
        <span class="bs-stepper-circle">3</span>
        <span class="bs-stepper-label">Group Name</span>
      </button>
    </div>

    <div class="line"></div>
    <div class="step" data-target="#group-user">
      <button class="step-trigger">
        <span class="bs-stepper-circle">4</span>
        <span class="bs-stepper-label">User Group</span>
      </button>
    </div>


  </div>
  <div class="bs-stepper-content">
    <div id="group-location" class="content">
      <div class="row">
        <div class="col col-12 p-5 mb-4 bg-light rounded-3">
          <h1>First, set your group's location.</h1>
          <p class="mb-4">Meetup groups meet locally, in person and online. We'll connect you with people in your area, and more can join you online</p>

          <form [formGroup]="userGroupForm">
            <div class="input-group mb-3">
              <span class="input-group-text transparent bg-white" id="search-addon">
                <i class="fas fa-search"></i>
              </span>
              <input type="text" class="form-control left-border-none" placeholder="Search for a city" aria-label="user-group-location" formControlName="location" aria-describedby="search-addon">
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col col-4 text-start d-grid">
          <button (click)="next()" class="btn btn-secondary" [disabled]="userGroupForm.get('location')?.invalid">Next</button>
        </div>
      </div>
    </div>


    <div id="group-interests" class="content">
      <div class="row">
        <div class="col col-12 p-5 mb-4 bg-light rounded-3">
          Content 2
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col col-4 text-start d-grid">
          <button (click)="previous()" class="btn btn-secondary">Previous</button>
        </div>
        <div class="col col-4 text-end d-grid">
          <button (click)="next()" class="btn btn-secondary">Next</button>
        </div>
      </div>
    </div>


    <div id="group-name" class="content">
      <div class="row">
        <div class="col col-12 p-5 mb-4 bg-light rounded-3">
          <div id="step3">
            <h1>What will your group's name be?</h1>
            <p>Choose a name that will give people a clear idea of what the group is about. Feel free to get creative! you can edit it later if you change your mind.</p>
            <input type="text" placeholder="User Group Name ABC" [(ngModel)]="groupName">
          </div>

        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col col-4 text-start d-grid">
          <button (click)="previous()" class="btn btn-secondary">Previous</button>
        </div>
        <div class="col col-4 text-end d-grid">
          <button (click)="next()" class="btn btn-secondary">Next</button>
        </div>
      </div>
    </div>


    <div id="group-user" class="content">
      <div class="row">
        <div class="col col-12 p-5 mb-4 bg-light rounded-3">
          <div id="step3">
            <h1><b>Now describe what {{groupName}} will be about</b></h1>
            <p>People will see this when we promote your group, but you'll be able to add it later, too.</p>
            <br>
            <ol>
              <li>What's the purpose of the group?</li>
              <li>Who should join?</li>
              <li>What will you do at the events</li>
            </ol>
            <textarea type="text" placeholder="Please write atleast 50 characters" rows="10"></textarea>
          </div>

        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col col-4 text-start d-grid">
          <button (click)="previous()" class="btn btn-secondary">Previous</button>
        </div>
        <div class="col col-4 text-end d-grid">
          <button (click)="next()" class="btn btn-secondary">Complete</button>
        </div>
      </div>
    </div>
  </div>
</div>
