@import '../../../../styles.scss';

.forget-password{
  .forget-inner{
    .heading{
      text-align: center;
      img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
      }
      h4{
        font-size: 25px;
        font-weight: 600;
        color: $black;
      }
      p{
        padding: 15px 25px 0 25px;
        font-size: 13px;
        text-align: center;
        color: $silver;
      }
    }
    .login-btn{
      .press-btn{
        margin-right: 10px;
      }
    }
  }
}
